<div class="container">
  <div class="row">
    <div class="col font-weight-bold">
      Enter Feature toggles to check.
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col">
      <textarea class="ta" [(ngModel)]='ftNames'>

      </textarea>
    </div>
  </div>

  <div class="row">
    <div class="col-2">
      <button class="btn btn-primary" (click)="getFeatureToggleStatus()">
        Get Toggles
      </button>
    </div>
  </div>


  <br>
  <hr>

  <table class="table table-striped table-bordered"
         *ngIf="ftResponse !== null && ftResponse.length && ftResponse.length > 0">
    <thead>
    <tr>
      <th scope="col">FT</th>
      <th scope="col">DEV</th>
      <th scope="col">TEST</th>
      <th scope="col">ICPUNE_PERF</th>
      <th scope="col">PERF</th>
      <th scope="col">AU</th>
      <th scope="col">DE</th>
      <th scope="col">UK</th>
      <th scope="col">NA1</th>
      <th scope="col">NA2</th>
      <th scope="col">CA</th>
      <th scope="col">JP</th>
      <th scope="col">STAGE</th>
      <th scope="col">NVIR</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let ft of ftResponse ">
      <td
        *ngFor="let f of ft ; let i = index"
        [ngClass]="i===0 ? 'bg-info' : 'bg-light'">
        {{f}}
      </td>
    </tr>
    </tbody>
  </table>


</div>
